<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KGSummary Search</title>
    <script src="../QAWebV1/js/main_page.js"></script>
</head>
<script id="show_summary_script" type="text/x-jquery-tmpl">
   <dd>
    <a>${api_class.entity_retrieval_result.doc_name}:</a>
    {{if   if class_summary_text.length>0}}
           <a>class_summary_text:${class_summary_text}</a>
    {{else}}
    {{if   if all_methods_summary_text.length>0}}
           <a>all_methods_summary_text:${all_methods_summary_text}</a>
    {{else}}
   </dd>
</script>
<body>
<br/><br/>
<div class="main-title">
    <div class="text-center">KGSummary Search</div>
    <div class="input-jump center-block">
        <div class="col-lg">
            <div class="input-group">
                <input type="text" class="form-control" onkeydown="keyup_submit(event)" placeholder="enter question...">
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="bt1" onclick="jumpClick()">SEARCH</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div id="btn_radio_1" class="text-center btn_select">
        model selected :
        <lable >
            <i class='input_style radio_bg'><input type="radio" name="radio_1" value="tfidf" checked="checked"></i>
            tf-idf
        </lable>
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_1" value="compound_newest"></i>
            compound_newest
        </lable>
    </div>
    <div id="btn_radio_2" class="text-center btn_select">
        summary way selected :
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_2" value="fixed_class" checked="checked"></i>
            fixed_class
        </lable>
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_2" value="class_first" ></i>
            class_first
        </lable>
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_2" value="fixed_sentence" ></i>
            fixed_sentence
        </lable>
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_2" value="sentence_first"></i>
            sentence_first
        </lable>
        <lable>
            <i class='input_style radio_bg'><input type="radio" name="radio_2" value="text_rank"></i>
            text_rank
        </lable>
    </div>
</div>
<div class="spinner" style="display:none">
    <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
</div>

<div id="show_summary">

</div>
</body>

<link rel="stylesheet" type="text/css" href="css/main_page.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/load.css"/>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/main_page.js"></script>

</html>